.banner {
    background-color: #6278F7;
    text-align: center;
}

.banner img {
    max-width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-around;
}
nav{
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* Definição de fonte (Opcional)*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #2F2F2F;
    height: 15vh;
    /* Definição de sombras (Opcional)*/ 
    box-shadow: 0 0.1rem 0.5rem #f1dbdb;
}

.nav-list {
    list-style: none;
    display:flex
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}